body {
  background-color:#1ec4d6;
}
#banner {
  background-color:;
  padding:;
  margin:;
  text-align:center;
  border:20px solid white;
  border-radius:100px;
  box-shadow:;
}
h1 {
  color:white;
  font-size:;
}
